{% extends 'layouts/base.html' %} 

{% load grid_tags static %}

{% block title %} Home - Ecommere Store{% endblock %}


{% block content %}
<!-- Pizzas Section -->
<section>

  {% container %}
    <h3 class="text-center mb-3">Pizzas</h3>
    {% row %}
      {% if products %}
        {% for product in products %}
          {% col 'col-md-4' %}
            <div class="card mb-4">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">Price: ${{ product.price }}</p>

                <form method="post" action="{% url 'store:add_cart' %}">
                  {% csrf_token %}
                  <input type="hidden" name="product_id" value="{{ product.id }}">
                  <button type="submit">Add to Cart</button>
                </form>

              </div>
            </div>
          {% endcol %}
        {% endfor %}
      {% else %}
        {% col 'col-md-12 my-2' %}
          <p>No Products !!!</p>
        {% endcol %}
      {% endif %}
    {% endrow %}

  <hr>

  <p>session session_key</p>
  {{ request.session.session_key }}
  <hr>

  <p>just COOCKIES</p>
  {{ request.COOKIES }}
  <hr>
  
  <p> COOCKIES csrftoken</p>
  {{ request.COOKIES.csrftoken }}

  {% endcontainer %}
</section>
{% endblock content %}